:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  box-shadow: 0 3px 5px rgba(0,0,0,0.7)
}

.email {
  max-width: calc(100% - 2rem);
}

.card {
  cursor: context-menu;
}

.card {
  width: 20rem;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.3)
}

.card-title {
  width: fit-content;
  outline: none;
  cursor: text;
  max-width: 100%;
}

.text-muted {
  max-width: max-content; 
}

.card-title:focus {
  outline: 1px solid gray;
  outline-offset: 3px;
}

.editicon {
  margin-top: 0.25rem;
  margin-left: 0.5rem;
  opacity: 0.5;
  display: none;
}

.editicon-age {
  opacity: 0.5;
  margin-top: -7px;
  margin-left: 0.5rem;
  display: none;
}

.age {
  max-width: max-content;
  cursor: text;
  outline: none;
}

.age:focus {
  outline: solid gray 1px;
  outline-offset: 2px;
}

.age:hover ~ .editicon-age {
  display: inline;
}

.card-title:hover ~ .editicon {
  display: block;
}

.savebtn {
  display: none;  
}

.red {
  color: red;
}

.profilepic {
  cursor: pointer;
}

.profilepic:hover {
  opacity: 0.8;
}

#newemail {
  margin-bottom: 0.5rem;
}

#newage {
  margin-bottom: 0.5rem;
}